:root {
  --bg-color__dark: #2e1d34;
  --bg-color__light: #f4eff6;

  --txt-color__dark: white;
  --txt-color__light: rgb(21, 3, 36);

  --yellow__dark: rgb(255, 255, 50);
  --yellow__light: rgb(69, 200, 25);

  --blue: rgb(61, 61, 212); //same for both schemes

  --card-color__dark: #1c1111;
  --card-color__light: #18103e;

  --btn-color__dark: var(--txt-color__light);
  --btn-color__light: white;
}

%dark {
  color-scheme: dark;
  --bg-color: var(--bg-color__dark);
  --txt-color: var(--txt-color__dark);
  --yellow: var(--yellow__dark);
  --card-color: var(--card-color__dark);
  --btn-color: var(--btn-color__dark);
}
%light {
  color-scheme: light;
  --bg-color: var(--bg-color__light);
  --txt-color: var(--txt-color__light);
  --yellow: var(--yellow__light);
  --card-color: var(--card-color__light) !important;
  --btn-color: var(--btn-color__light);
}

:root {
  @extend %dark;
}

@media (preferes-color-scheme: dark) {
  :root {
    @extend %dark;
  }
}
[color-scheme="light"] {
  @extend %light;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  font-size: clamp(18px, calc(5px + 1vw), 30px);
  color: var(--txt-color);
  font-family: "Asap", sans-serif;
  overflow-x: hidden;
}

.train-one {
  font-family: "Train One", cursive;
}
.koulen {
  font-family: "Koulen", cursive;
}
.kaushan {
  font-family: "Kaushan Script", cursive;
}
.txt-lg {
  line-height: 1.7em;
}

[class*="btn"] {
  border: 0;
  color: var(--btn-color) !important;
}

[class*="btn"].koulen-style {
  @extend .koulen;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  padding: 0.5em 1.2em;
  gap: 1em;
  margin-top: 1em;
}

.container {
  // @extend .x-auto-margin;
  max-width: 1800px;
  // overflow: hidden;
  margin-inline: auto;
  padding-inline: clamp(1em, 3vw, 3em);
}

section {
  margin-block: 3em;
  gap: 2em;
  column-gap: 4em;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
}
.side-content {
  max-width: 450px;
  width: 100%;
  flex-grow: 1;
  // margin-inline: auto;
}

.section-text {
  margin-block: 1em;
}

.section-img-wrapper {
  max-width: 100%;
  min-height: 300px;
  align-self: stretch;
  flex-grow: 1;

  &.full-img {
    // height:auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
//GENERAL
.centered-title {
  width: 100%;
  text-align: center;
}

.btn.koulen-style {
  .icon-arrow {
    transition: transform 200ms;
  }
  &:hover {
    .icon-arrow {
      transform: translateX(60%);
    }
  }
}

title-wrapper {
  margin-bottom: 1em;

  .title {
    @extend .kaushan;
    color: var(--yellow);
    text-transform: capitalize;
  }
  .long-title {
    display: inlin-flex;
    gap: 0.5em;
    font-size: 1.7em;
    span:first-child {
      @extend .koulen;
    }
    span:nth-child(2) {
      @extend .train-one;
    }
  }
}
//header---------------

li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--bg-color);

  &:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 0 var(--txt-color);
    right: 0;
    opacity: 0.1;
  }
}
nav {
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  gap: 0.5em;
  a {
    display: inline-block;
    text-transform: capitalize;
    padding: 0.8em;

    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0%;

      $s: 0.4em;

      height: $s;
      aspect-ratio: 1;
      background: var(--yellow);
      border-radius: 50%;
      opacity: 0;
      transition: 200ms;
      top: -100%;
    }

    &.active:before {
      opacity: 1;
      top: 20%;
    }
    &:hover {
      color: var(--yellow);
    }
  }
}

.icon-arrow {
  height: 0.8em;
  display: flex;

  svg {
    aspect-ratio: 1;
    height: 100%;
  }
  &,
  * {
    stroke: currentColor !important;
  }
}
left {
  padding-top: 2em;
  z-index: 2;
}
// HERO ----------

.hero-section {
  .btn {
    width: Min(100%, 400px);
  }
  .section-img-wrapper {
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      top: 0;
      bottom: 0;

      right: 0;
      width: 160%;
    }
  }
}
.hero-title {
  font-size: 4em;
  text-shadow: 3px 3px var(--bg-color), -3px -3px var(--bg-color);

  span:first-child {
    font-size: 0.7em;
    text-transform: capitalize;
  }
  span:nth-child(2) {
    letter-spacing: 0.5em;
    line-height: 0.5em;
  }
}
.hero-text {
  font-size: 1.2em;
}
.brands {
  column-gap: 4em;
  row-gap: 1em;
  margin-block: 2em;
  svg {
    path {
      // stroke:var(--white-txt);
      fill: var(--txt-color);
    }
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background: var(--card-color);
  color: var(--txt-color__dark);
  min-width: 300px;
  max-width: 100%;
}

// program cards
.program-section {
  .card {
    overflow: hidden;
    position: relative;

    .icon-wrapper {
      background: var(--blue);
      height: 3.5em;
      aspect-ratio: 1;
      border-radius: 50%;
      svg {
        height: 50%;
      }
      align-self: flex-start;
    }
    .title {
      margin-block: 1em;
      @extend .koulen;
      font-weight: 400;
    }
    p {
      max-width: 300px;
      padding-bottom: 5em;
    }
    .btn {
      margin-top: auto;
      margin-bottom: 0;
      background: var(--yellow);
      height: 2.5em;
      aspect-ratio: 1;
      align-self: flex-end;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 0;
      transform-origin: 100% 100%;
      transition: transform 200ms;
    }
    &:hover {
      .btn {
        transform: scale(1.4);
      }
    }
  }
}

.aboutus-section {
  flex-direction: row-reverse;

  .section-text {
    padding-top: 1em;
  }
  .statisctics-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 2em;
    .number {
      @extend .koulen;
      &:after {
        content: "+";
        margin-left: 0.2em;
        color: var(--yellow);
        // line-height:2em;
        transform: translateY(10%);
        display: inline-block;
      }
    }
    .statistic .text {
      font-weight: bold;
    }
  }
}

.pricing-section {
  .card {
    &.highlight {
      // border: 3px solid ;
      border-width: 3px solid var(--yellow);
    }
    text-align: center;
    .stars-wrapper {
      display: flex;
      justify-content: center;
      gap: 1em;
      svg path {
        fill: var(--yellow);
      }
    }

    .property-wrapper {
      display: flex;
      gap: 1em;
      svg {
        height: 1em;
      }
      margin-block: 0.3em;
      p.disabled {
        opacity: 0.7;
        // text-decoration: line-through;
      }
    }
    .title {
      margin-block: 0.5em 0.8em;
      @extend .koulen;
      letter-spacing: 0.3em;
    }
    .price {
      @extend .koulen;
      font-weight: bold;
      &:after {
        content: "$";
        margin-left: 0.2em;
      }
      margin-bottom: 1em;
      font-size: 1.6em;
      color: var(--yellow);
    }

    .btn {
      margin-top: 2em;
    }
  }
}

.bmi-section {
  .fields-wrapper {
    display: flex;
    gap: 0.5em;
    $s: 1em;
    .input-wrapper {
      flex-grow: 1;
    }
    input {
      padding-right: 2.3 * $s;
      flex-grow: 1;
      width: 100%;
    }
  }

  .result-wrapper {
    min-height: 4em;
    padding-block: 0.5em;
    .result-number {
      color: orange;
    }
  }
}

//GENERAL
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: min-content;
  input {
    padding: 0.5em;
    max-width: 100%;
    background: none;
    border: 2px solid var(--yellow);
    transition: box-shadow 200ms;
    &::placeholder {
      color: inherit;
    }
    &:focus {
      box-shadow: 0 0 0 0.1em var(--yellow);
      outline: 0;
    }
  }
  span {
    position: absolute;
    right: 0;
    padding-inline: 0.5em;
    font-size: 0.8em;
    pointer-events: none;
  }
}

footer {
  gap: 2em;
  padding-bottom: 3em;
  column-gap: 5em;
  justify-content: space-between;
  form {
    row-gap: 1em;
    * {
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input {
    padding: 0.5em !important;
  }

  .btn {
    margin-top: 0 !important;
  }

  left {
    padding-top: 0;
  }
  right {
    gap: 4em;
    max-width: auto !important;
  }
  .col {
    .title {
      margin-bottom: 1em;
      font-weight: 900;
    }
    ul {
      margin: 0;
      li {
        margin-block: 0.5em;
      }
    }
  }
}

footer a:not(.logo) {
  display: inline-block;
  background: linear-gradient(
    to right,
    var(--yellow__dark),
    var(--yellow__light)
  );
  background-size: 0% 10%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  transition: background 300ms;

  &:hover {
    background-size: 100% 10%;
  }
}

@media (max-width: 1050px) {
  title-wrapper {
    width: 100%;
    text-align: center;
  }

  .side-content {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .bmi-section button {
    width: 100%;
  }
  footer {
    form * {
      flex: 1;
    }

    right {
      flex-direction: row !important;
      flex-wrap: wrap;
    }
  }

  left,
  right {
    width: 100%;
  }
  .section-text {
    min-width: unset;
  }

  .hero-section {
    left {
      padding-top: 0.5em;
      text-align: center;
      .btn {
        margin-inline: auto;
        width: 100%;
        max-width: 500px;
      }
    }
    .hero-title span {
      letter-spacing: unset;
    }
    .section-img-wrapper {
      img {
        left: 0;
        width: 100%;
      }
    }
  }
}

.magnetic-btn {
  * {
    pointer-events: none;
  }
}

//reveal animations
.hero-section {
  .hero-title {
    span:nth-child(1) {
      transition-property: transform, opacity;
      transition-duration: 700ms;
      transform: translateY(-100%);
      opacity: 0;
    }
    span:nth-child(2) {
      transition-property: opacity;
      transition-duration: 4000ms;
      opacity: 0;
    }
  }

  &.intersected {
    span:nth-child(1) {
      transform: translateY(0);
      opacity: 1;
    }
    span:nth-child(2) {
      opacity: 1;
    }
  }
}

.program-section {
  @for $i from 1 through 4 {
    .card:nth-child(#{$i}) {
      transition-property: transform;
      transition-duration: 700ms;
      transition-delay: calc(200ms * #{$i});
      transform: translateY(20%);
    }
  }
  &.intersected {
    .card {
      transform: translateY(0%);
    }
  }
}

.pricing-section {
  .card:not(:nth-child(2)) {
    transition-property: opacity;
    transition-duration: 2000ms;
    opacity: 0;
    transition-delay: 300ms;
  }
  &.intersected {
    .card:not(:nth-child(2)) {
      opacity: 1;
    }
  }
}

.aboutus-section {
  .section-img-wrapper {
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transform: translateX(-50%);
    opacity: 0;
  }
  &.intersected {
    .section-img-wrapper {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.logo {
  // line-height: 0;
  color: var(--yellow);
  gap: 0.2em;
  img {
    height: 3em;
  }
  span {
    font-weight: bold;
    letter-spacing: 0.2em;
  }
}

//----------- scheme toggle
$height: 1.5em;
$offset: 0.2em;
$dimension: $height - 2 * $offset;
$zero: 0;
$no-zero: calc(100% - $dimension);
$long-duration: 900ms;
$small-duration: 300ms;

%on-the-left {
  left: $zero;
  right: $no-zero;
  transition-property: right, left;
  transition-duration: $long-duration, $small-duration;
}
%on-the-right {
  left: $no-zero;
  right: $zero;
  transition-property: left, right;
  transition-duration: $long-duration, $small-duration;
}

.scheme-toggle {
  
  display: inline-block;
  height: $height;
  aspect-ratio: 2;
  box-shadow: 0 0 0 1px var(--yellow);
  border-radius: 4em;
  position: relative;
  padding: $offset;
  background: var(--btn-color__dark);
  margin: 0.2em 0.9em;
  .content {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;

    &:before {
      //ballo

      @extend %on-the-left;
      position: absolute;
      content: "";
      top: 0;
      height: $dimension;
      background: yellow;
      border-radius: inherit;
    }
  }
}

#scheme-checkbox:checked ~ .scheme-toggle .content:before {
  @extend %on-the-right;
}

svg#moon,
svg#sun {
  $s: 1em;
  height: $s;
  aspect-ratio: 1;
  &,
  * {
    fill: var(--txt-color);
  }
}

nav {
  height: 100%;
}

.hamburger-label {
  display: block;
  display: none;
  $s: 1.2em;
  height: $s;
  aspect-ratio: 1.4;
  // width: $s;
  position: relative;

  .line {
    pointer-events: none;;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: var(--txt-color);
    &:nth-child(1) {
      top: 0;
      transform: translateY(0%);
      --rotate-direction: 1;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      transition: height 500ms, opacity 400ms;
    }
    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
      --rotate-direction: -1;
    }
    &:nth-child(1),
    &:nth-child(3) {
      transition: top 300ms, transform 900ms;
    }
  }
}

#hamburger-input:checked ~ .hamburger-label {
  .line {
    &:nth-child(2) {
      height: 100%;
      opacity: 0;
    }
    &:nth-child(1),
    &:nth-child(3) {
      top: 50%;
      transform: translateY(-50%) rotate(calc(45deg * var(--rotate-direction)));
    }
  }
}



@media (max-width: 900px) {

  %show-menu{
    opacity:1;
    pointer-events: all;
    transform: translateX(0%)
  }
  %hide-menu{
    pointer-events: none;
    opacity:0;
    transform: translateX(200%)
  
  }

  .hamburger-label {
    display: block;
    order: 1;
  }
  
  .nav-menu{
    @extend %hide-menu;
    transition-property:opacity,transform;
    transition:700ms;
    position: absolute;
    top: 100%;
    flex-direction: column;
    right: 0;
    // background:var(--bg-color);
    padding:2em;
    // opacity:.3;
    backdrop-filter: blur(20px);
    bottom:calc( -100vh + 100%);

    border-left: 2px solid var(--txt-color);
    &:before{
      content:"";
      position: absolute;
      inset:0;
      background:var(--bg-color);
      opacity:.7;
    }
    
    
  }
  #hamburger-input:checked ~ .nav-menu{
    @extend %show-menu;
  }
}
